<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Herramienta MercadoPago</title>
        <style>
                #loading {
                        display: none;
                    }
    </style>
    </head>
    <body>
        <div>
        <h2 class="text-primary">  Herramienta API de MercadoPago</h2>
        <h2><%= titulo %></h2>
             <div class="form-group">
                <h3>Consulta ID MercadoPago</h3>
                <form name= "forma"  method="POST" action="/procesar" >
                        <p>Ingresa Código: <input type="text" name="codigo" id ="cod" ></p>
                        <input class="btn btn-primary" type="submit" value="getMP_ID">
                </form>
                
            </div>
            <div class="form-group1">
                <h3>Consulta All_ID MercadoPago</h3>
                <form name= "forma"  method="POST" action="/procesartodo">
                        <p> <label for="Ingrese Codigos">Ingrese Codigos:</label>
                            <textarea id="codigos" name="codigos" rows="5" cols="50">
                            </textarea>
                        </p>
                        <input class="btn btn-primary" type="submit" value="getMP_AllID">
                </form>
                
            </div>
           
            <div>
                    <h3>Cancela ID MercadoPago</h3>
                    <form name= "forma" action=""  method="get" >
                        <p> <label for="Ingrese Codigos">Ingrese Codigos:</label>
                            <textarea id="codCancel" name="codigos" rows="5" cols="50">
                            </textarea>
                        </p>
                    </form>
                    <button class="btn btn-primary" onclick="myputCancelMP()">putCancelMP</button>

                    
            </div>
              <div> 
                <h3>Consulta MP Rango de Fecha</h3>
                <form name= "forma" action=""  method="get" >  
                    <p><label for="start">Fecha Inicio:</label>
                        <input type="date" id="start" name="trip-start"
                            value="2021-01-01"
                            min="2021-01-01" max="2021-04-30">
                    </p>
                    <p><label for="start">Fecha Final:</label>
                        <input type="date" id="end" name="trip-start"
                            value="2021-01-01"
                            min="2021-01-01" max="2021-04-30">
                    </p>

                </form>
                <button class="btn btn-primary" onclick="mygetByFechaMP()">getByFechaMP</button>
            </div>
           
        </div>
                
    </body>
</html>